.add{
    margin-top: 20px;
    display: flex;
    gap: 20px;

}

.content{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleInput{
    padding: 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
}

.menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editorContainer{
    height: 300px;
    overflow: scroll;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: black;
}




.editor{
    height: 100%;
    border: none;
    
}

.item{
    border: 1px solid lightgray;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: var(--softTextColor);

}

.input{display: none;}

.title{
    font-size: 20px;
}

.file{
    text-decoration: underline;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button:first-child{
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
    padding: 3px 5px;;
}

.buttons button:last-child{
    cursor: pointer;
    color: white;
    background-color: teal;
    border: 1px solid teal;
    padding: 3px 5px;;
}

.cat{
    display: flex;
    align-items: center;
    gap: 2px;
    color: teal;
}